/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 29, 2014, 1:43:12 PM
    Author     : jeffy
*/
.user-image{
    width:40px;
    height:40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}